#Calender{
position:absolute;
width:150px;
}

#WindowsTop{
height:30px;
cursor:move;
overflow:hidden;
position:relative;
background-position:right top;
background-repeat:no-repeat;
}

#WindowTopContents{
margin-right:13px;
background-position:left top;
background:-repeat:no-repeat;
overflow:hidden;
height:30px;
line-height:30px;
text-indent:10px;
font-size:14px;
color:rgb(108,175,0);
}

#WindowsBottom{
position:relative;
background-position:right bottom;
background-repeat:no-repeat;
}

#WindowsBottomContent{
position:relative;
background-position:left bottom;
background-repeat:no-repeat;
margin-right:10px;
}

#WindowsContent{
overflow:auto;
border:1px solid rgb(108,175,0);
height:126px;
width:10px;
}

#Windowmin{
position:absolute;
right:16px;
top:16px;
cursor:pointer;
}

#Windowmax{
position:absolute;
right:25px;
cursor:pointer;
display:none;
top:10px;
}

#WindowClose{
position:absolute;
right:1px;
top:16px;
cursor:pointer;
}

#Windowresize{
position:absolute;
right:0px;
bottom:-1px;
cursor:se-resize;
}
